#slide1{
    width: 100%;
    height: 200px;
    background: red;
}

#slide2{
    width: 100%;
    height: 200px;
    background: blue;
}

#slide3{
    width: 100%;
    height: 200px;
    background: green;
}