.row {
    display: flex;
    justify-content: space-between;
    user-select: none;
    text-decoration: none;
}

.item_bg {
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    height: 0;
}

.icon {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.name {
    text-align: center;
    margin-top: 15%;
}

.version {
    text-align: center;
    margin-top: 5%;
}

.os {
    text-align: center;
    margin-top: 5%;
}

.password {
    text-align: center;
    margin-top: 5%;
}

.a_cd {
    color: blue;
}

.a_el {
    color: red;
}

.a_dd {
    color: green;
}

.a_tl {
    color: grey;
}