#title {
    user-select: none;
    margin-top: 3px;
}

#title_container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.article {
    line-height: 25px;
    word-wrap: break-word;
}

.article_bg {
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.article_title {
    padding-bottom: 10px;
}

.article_img_lg {
    width: 70%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.article_img {
    width: 50%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.article_img_little {
    width: 30%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.article_iframe_lg {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.data {
    font-size: xx-small;
    /* <small class="data">&emsp;YYYY.MM.DD</small> */
}

a {
    text-decoration: none;
}